{% extends "layout.html" %}

{% block content %}

<h1>Big Brother Photo Album</h1>

<table style="width:100%">
    <tr>
        <th><img src="https://media.reshet.tv/image/upload/v1577906820/tsfigd_btz3jg.jpg" style="width:250px; height:150px" alt="Lionel Messi"></th>
        <th><img src="https://media.reshet.tv/image/upload/v1577912798/tlovay_ckn9qf.jpg" style="width:250px; height:150px" alt="Cristiano Ronaldo"></th>
        <th><img src="https://media.reshet.tv/image/upload/v1577909569/pt-qav_gli113.jpg" style="width:250px; height:150px" alt="Luka Modric'"></th>
    </tr>
    <tr>
        <td><img src="https://media.reshet.tv/image/upload/v1577909953/cul-pb_gapnuu.jpg" style="width:250px; height:150px" alt="Neymar Júnior"></td>
        <td><img src="https://media.reshet.tv/image/upload/v1577907958/phwfta_aaajlt.jpg" style="width:250px; height:150px" alt="Diego Armando Maradona"></td>
        <td><img src="https://media.reshet.tv/image/upload/v1577914361/zcjefv_jyfsbd.jpg" style="width:250px; height:150px" alt="Ronaldinho Gaúcho"></td>
    </tr>
</table>

{% endblock %}